# Python cache files
######################
__pycache__/


# WSL build files
######################
install/temp
install/tests
install/installed
install/tarballs/*.tar.gz
source/_build/
docs/_sources/