# Python cache files
######################
__pycache__/


# WSL build files
######################
install/temp
install/tests
install/installed
install/tarballs/*.tar.gz

*-checkpoint.ipynb

tests/images/*.svg

/*.json
/*.xclbin
/*.mlir
/*.seq
